.parallax {
    background-image: url("../img/richbriancrying.jpg");
    min-height: 800px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.tagline {
  padding: 100px 0px 30px;
  font-style: italic;
  /* color: #7BA8A1; */
  color: #929292;
  font-size: 1.33em;
}

.btn {
  color: #a4a4a4;
  border-color: #a4a4a4;
}

.card {
  margin: 3em;
}

.post {
  color: #7c7c7c;
}

.footer {
  background-color: #7c7c7c;
  color: white;
  font: 14px "Helvetica", Arial, sans-serif;
  height: 80px;
}

.create {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.color {
  margin: 2px;
  height: 175px;
  width: 100px;
}

#create {
  position: fixed;
  bottom: 200px;
  right: 30px;
}

#create: hover {
  background-image: url("./img/Create-new-hover.png");
}

#top {
  position: fixed;
  bottom: 150px;
  right: 42px;
}

#bottom {
  position: fixed;
  bottom: 100px;
  right: 42px;
}

.color-swatch {
  height:170px!important;
  width:100px!important;
  margin-bottom: 15px;
  border-color: #a4a4a4;
}

.color-code {
  border: none;
  text-align: center;
}

.title .form-control {
  height: 30px!important;
  width: 90%!important;
}

input::-webkit-color-swatch {
    border: none;
}
