/* @import url('https://fonts.googleapis.com/css?family=Work+Sans'); */
 body {
  padding: 50px;
  background-image: url("../img/backgroundimage.jpg");
  background-size: cover;
}

body, html {
  height: 100%;
}



a {
  color: #00B7FF;
}

.first-section {

  padding-top: 2em;
  text-align: center;
  font-family: : Helvetica;
  font-style: italic;
}

nav {
  font-family: Helvetica;
}
