
h4 {
  padding: 5em;
  font-style: italic;
  color: #7BA8A1;
}

.card {
  margin: 3em;
}

.footer {
  background-color: black;
  color: white;
  font: 14px "Helvetica", Arial, sans-serif;
  height: 80px;
}
