<!-- <div class="row">
  {{#each posts}}
    <div class="col-12">
      <div class="card post">
        <div class="card-header">
          {{this.title}}
        </div>

        <div class="card-body">
          <div class="color 1">
        </div>
  {{/each}}
</div> -->
