<div class="row justify-content-md-center">
  <div class="col-8">
    <form action="/" method="post">
      <legend>Create</legend>

      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title">
      </div>

      <div class="colors">
        <div class="form-group">
          <div class="color 1"></div>
          <input type="text" name="color1" class="form-control" id="post-color1" placeholder="#">
        </div>

        <div class="form-group">
          <div class="color 2"></div>
          <input type="text" name="color2" class="form-control" id="post-color2" placeholder="#">
        </div>

        <div class="form-group">
          <div class="color 3"></div>
          <input type="text" name="color3" class="form-control" id="post-color3" placeholder="#">
        </div>

        <div class="form-group">
          <div class="color 4"></div>
          <input type="text" name="color4" class="form-control" id="post-color4" placeholder="#">
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">+</button>
      </div>
    </form>
  </div>
</div>
