<div class="row justify-content-center">
  <div class="col-8">
    <div class="create">
      <h1 class="post-title">Create</h1>
    </div>
    <form method="POST" action="/posts">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="">
      </div>

      <div class="form-row">
        <div class="form-group col-3 align-items-center">
          <label for="hex-label">First Color</label>
          <input type="text" name="color1" class="form-control" id="post-color1" placeholder="#">
        </div>

        <div class="form-group col-3 align-items-center">
          <label for="hex-label">Second Color</label>
          <input type="text" name="color2" class="form-control" id="post-color2" placeholder="#">
        </div>

        <div class="form-group col-3">
          <label for="hex-label">Third Color</label>
          <input type="text" name="color3" class="form-control" id="post-color3" placeholder="#">
        </div>

        <div class="form-group col-3">
          <label for="hex-label">Fourth Color</label>
          <input type="text" name="color4" class="form-control" id="post-color4" placeholder="#">
        </div>
      </div>

      <div class="row justify-content-center">
          <button type="submit" class="btn btn-outline-dark">Submit</button>
      </div>
      
    </form>
  </div>
</div>
